* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    margin-left: auto;
}

.nav-links a{
    text-decoration: none;
    color: black;
}

.dot-img-links{
    height: 30px;
    width: 30px;
}

.profile-img-links{
    height: 50px;
    width: 50px;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 100px;
    width: 100%;
}

.hero-header{
    display: flex;
    justify-self: center;
}

.hero-header img{
    justify-self: center;
    margin: 0px;
    padding-bottom: 200px;
    padding-left: 40%;
}

.search-bar{
    display: flex;
    justify-content: center;
    width: 70%;
    margin-bottom: 10px;
}

.search-bar input{
    width: 80%;
    padding: 10px;
    justify-content: center;
    margin: 10px 0 30px 40%;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.3);
}

.search-bar button{
    cursor: pointer;
    width: 20px;
    position: absolute;
    margin:20px 12% 0 0;
    border: none;
}

.search-bar button i{
    font-size: 20px;
    color:  rgb(128, 128, 128);
    background: rgb(255, 255, 255);
}

.search-btns{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80%;
    padding: 0 20px 0 20%;
}

.search-btns button{
    padding: 1em;
    margin: 0 1em;
    border: none;
    width: 20%; 
    border-radius: 5px;
}

.search-btns button:hover{
    cursor: pointer;
}

.languages{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

.languages p,a{
    font-size: 20px;
    font-weight: lighter;
    padding: 0 5px;
    text-decoration: none;
}

footer{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    margin-top: 220px;
}

footer a{
    text-decoration: none;
    color: gray;
}